{% extends "base.html" %}

{% load static %}

{% block title %} Kager Car Rentals & Tours  | About {% endblock %}

{% block content %}

    <!-- about body -->
    <section id="about">
        <div class="container mb-5">
            <div class="col-12 align-items-center justify-contents-center py-2">
                <h4 class="text-center pt-5">
                    About Us
                </h4>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-6">
                    <div class="py-3">
                        <img class="img-fluid" src="{% static 'img/car.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="py-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam cum dolore sequi id ut possimus! Commodi praesentium ut aliquam animi dolore quam fugit a expedita repellat vero, odit labore cumque velit autem perferendis atque alias nisi rerum minus quos mollitia deserunt? Distinctio, id. Quasi debitis nemo eum atque totam voluptates repellat non deleniti! Tenetur accusantium ullam voluptates, fugit amet maiores quasi maxime modi debitis quas optio ea eaque nobis suscipit aspernatur distinctio vel repellat eum cupiditate sequi adipisci. Minima, libero quam atque velit quod officia cumque? Fuga eos officiis velit illum nesciunt incidunt optio ab, unde id quo corrupti iusto ipsum repellat exercitationem voluptates, repudiandae accusamus ex asperiores aliquam tempore. Dolores exercitationem explicabo molestias eligendi laboriosam unde pariatur consequatur. Molestias.
                    </div>
                </div>
                <div class="col-6">
                    <div class="py-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam cum dolore sequi id ut possimus! Commodi praesentium ut aliquam animi dolore quam fugit a expedita repellat vero, odit labore cumque velit autem perferendis atque alias nisi rerum minus quos mollitia deserunt? Distinctio, id. Quasi debitis nemo eum atque totam voluptates repellat non deleniti! Tenetur accusantium ullam voluptates, fugit amet maiores quasi maxime modi debitis quas optio ea eaque nobis suscipit aspernatur distinctio vel repellat eum cupiditate sequi adipisci. Minima, libero quam atque velit quod officia cumque? Fuga eos officiis velit illum nesciunt incidunt optio ab, unde id quo corrupti iusto ipsum repellat exercitationem voluptates, repudiandae accusamus ex asperiores aliquam tempore. Dolores exercitationem explicabo molestias eligendi laboriosam unde pariatur consequatur. Molestias.
                    </div>
                </div>
                <div class="col-6">
                    <div class="py-3">
                        <img class="img-fluid" src="{% static 'img/car.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of about body -->

    <!-- our clients section -->
    <section class="mt-5 pt-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="font-weight-bold text-center">Our Clients</h4>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our clients section -->

{% endblock %}