{% extends "base.html" %}

{% load static %}

{% block title %} Kager Car Rentals & Tours | Contacts {% endblock %}

{% block content %}

    <!-- contact details -->
    <section id="contacts" class="pt-3">
        <div class="container">
            <div class="col-12 align-items-center justify-contents-center py-3">
                <h4 class="text-center">
                    Our Contacts
                </h4>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card orange">
                        <form class="text-center border border-light p-5" action="#!">
                            <p class="h4 mb-4">Find a Car</p>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                            <!-- Country -->
                            <select class="mb-4 browser-default custom-select">
                                <option selected>Choose Office</option>
                                <option value="1">Gigiri</option>
                                <option value="2">Kileleshwa</option>
                                <option value="3">Karen</option>
                            </select>

                            <!-- Pickupdate -->
                            <select class="mb-4 browser-default custom-select">
                                <option selected>Pickup Date</option>
                                <option value="1">Gigiri</option>
                                <option value="2">Kileleshwa</option>
                                <option value="3">Karen</option>
                            </select>

                            <!-- Returndate -->
                            <select class="mb-4 browser-default custom-select">
                                <option selected>Return Date</option>
                                <option value="1">Gigiri</option>
                                <option value="2">Kileleshwa</option>
                                <option value="3">Karen</option>
                            </select>

                            <!-- Newsletter -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                                <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                            </div>
                            <!-- Sign up button -->
                            <button class="btn btn-outline-white round mt-4" type="submit">Find Car</button>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <h5 class="text-center py-2">Pick from our wide range of car brands and types</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- end of contact details -->

    <section id="map">
        <div class="container mt-5">
            <!--Google map-->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" style="height: 500px; width: 100%;" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!--Google Maps-->
        </div>
    </section>


{% endblock %}


