{% extends "base.html" %}

{% load static %}

{% block title %} Kager Car Rentals & Tours  | Home {% endblock %}

{% block content %}

    <!-- start banner Area -->
	<section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="home-banner-content col-lg-6 col-md-6">
                    <h4 class="text-uppercase">Kager</h4>
					<h1>
                        Car Rentals
                        <h3 class="text-capitalize">to suit your business needs</h3>
                    </h1>
                    <p>Let our expierienced team of software developers take on the hasle of adding value to your business with customized software products to unclock insane levels of efficiency.
                    </p>
                    <!--Modal: Reservation with Avatar Form-->
                    <div class="mt-5 pt-5 modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="{% static 'img/logo.jpg' %}" alt="avatar" class="rounded-circle img-responsive">
                                </div>
                                <div class="modal-body text-center mb-1">
                                    <h5 class="mt-1 mb-2">Pick Up</h5>
                                    <div class="md-form ml-0 mr-0">
                                        <select class="my-1 browser-default custom-select">
                                            <option selected>Choose Office</option>
                                            <option value="1">Gigiri</option>
                                            <option value="2">Kileleshwa</option>
                                            <option value="3">Karen</option>
                                        </select>
                                        <select class="my-1 browser-default custom-select">
                                            <option selected>Pick Up Date</option>
                                            <option value="1">Gigiri</option>
                                            <option value="2">Kileleshwa</option>
                                            <option value="3">Karen</option>
                                        </select>
                                        <select class="my-1 browser-default custom-select">
                                            <option selected>Return Date</option>
                                            <option value="1">Gigiri</option>
                                            <option value="2">Kileleshwa</option>
                                            <option value="3">Karen</option>
                                        </select>
                                    </div>
                                    <div class="text-center mt-4">
                                        <button class="btn text-white round orange text-capitalize font-weight-bold mt-1">Find a Car</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal: Reservation with Avatar Form-->
                    <div class="text-center d-flex flex-row justify-content-start">
                        <a href="" class="btn btn-lg text-capitalize orange text-white round btn-rounded align-items-center font-weight-bold" data-toggle="modal" data-target="#modalLoginAvatar">Make a reservation</a>
                    </div>
                </div>
				<div class="banner-img col-lg-6 col-md-6 d-none d-lg-block f-right">
					<img class="img-fluid" src="{% static 'img/car.jpg' %}" alt="">
                </div>
                
			</div>
		</div>
	</section>
    <!-- End banner Area -->


    <!-- search for car section -->
    <section id="search" class="mt-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card orange">
                        <form class="text-center border border-light p-5" action="#!">
                            <p class="h4 mb-4">Find a Car</p>
                            <div class="form-row mb-4">
                                <div class="col">
                                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                                </div>
                                <div class="col">
                                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                                </div>
                            </div>
                            <!-- Country -->
                            <select class="mb-4 browser-default custom-select">
                                <option selected>Choose Office</option>
                                <option value="1">Gigiri</option>
                                <option value="2">Kileleshwa</option>
                                <option value="3">Karen</option>
                            </select>

                            <!-- Pickupdate -->
                            <select class="mb-4 browser-default custom-select">
                                <option selected>Pickup Date</option>
                                <option value="1">Gigiri</option>
                                <option value="2">Kileleshwa</option>
                                <option value="3">Karen</option>
                            </select>

                            <!-- Returndate -->
                            <select class="mb-4 browser-default custom-select">
                                <option selected>Return Date</option>
                                <option value="1">Gigiri</option>
                                <option value="2">Kileleshwa</option>
                                <option value="3">Karen</option>
                            </select>

                            <!-- Newsletter -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                                <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                            </div>
                            <!-- Sign up button -->
                            <button class="btn btn-outline-white round mt-4" type="submit">Find Car</button>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <h5 class="text-center py-2">Pick from our wide range of car brands and types</h5>
                    <div class="row">
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card orange stat my-2 mx-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of search for car section -->

    <!-- car gallery -->
    <section class="pt-5 mt-5 mb-5">
        <div class="container">
            <div class="row">
                {% for i in n %}
                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                    <div class="card card-body p-2 h-100">
                        <div class="">
                            <div class="">
                                <a class="test-popup-link" href="{% static 'img/car.jpg' %}">
                                    <img src="{% static 'img/car.jpg' %}" alt="portfolio-1" class="img-fluid">
                                </a>
                            </div>
                            <div class="pt-1 text-center">
                                <h5 class="text-capitalize">VW Polo Vivo 2020 Model</h5>
                                <p>or Similar</p>
                                <span class="my-3 text-center text-white orange p-2 card">From $35.00/Day</span>
                            </div>
                            <div class="mx-2 d-flex row my-2 font-weight-bold">
                                <div class="mx-1 btn-sm font-weight-bold text-capitalize"><i class="text-warning fas fa-wheelchair mr-1"></i>5 Seats</div>
                                <div class="mx-1 btn-sm font-weight-bold text-capitalize"><i class="text-warning fas fa-briefcase mr-1"></i>2 Bags</div>
                                <div class="mx-1 btn-sm font-weight-bold text-capitalize"><i class="text-warning fas fa-car-side mr-1"></i>5 Doors</div>
                                <div class="mx-1 btn-sm font-weight-bold text-capitalize"><i class="text-warning fas fa-charging-station mr-1"></i>Auto, Petrol</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end of car gallery -->


    <!-- our clients section -->
    <section class="mt-5 pt-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="font-weight-bold text-center">Our Clients</h4>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card orange stat1 my-2 mx-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our clients section -->

{% endblock %}
