<!-- feedback -->
<section class="mt-5 pt-5">
    <div class="orange">
        <div class="container py-3">
            <div class="row">
                <div class="col-5 pt-5 pb-3">
                    <h4 class="text-white">Have a question? Feel Free to ask.</h4>
                </div>
                <div class="col-4 pt-5">
                    <h4 class="text-white"><i class="fas fa-envelope-open-text mr-2"></i>support@kagger.co.ke</h4>
                </div>
                <div class="col-3 pt-4">
                    <a href="tel:+254723073552"><button type="button" class="font-weight-bold round text-capitalize btn btn-outline-white text-white float-right"><i class="fas fa-phone mr-2"></i>+254723073552</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of feedback -->


<!-- Footer -->
<footer class="page-footer font-small orange pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">KAGER</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">CONTACT INFO</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">QUICK LINKS</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> kager.co.ke</a>
    </div>
    <!-- end of Copyright -->
</footer>
<!-- end of Footer -->